$green: #98a86d;

.product {
    position: relative;
    margin-bottom: 20px;
    border: none;
    &__image {
        height: 270px;
        flex-shrink: 0;
        background-repeat: no-repeat;
        background-size: 110%;
        background-position: center;
        transition: all 0.3s ease-in-out;
    }
    &__title {
        user-select: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        &:hover {
            color: $green;
        }
    }
    &__star {
        color: $green;
    }

    &__price {
        margin-bottom: 0;
        position: relative;
        overflow: hidden;
        &-text {
            display: inline-block;
            color: $green;
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &__add {
            text-transform: uppercase;
            font-size: 0.85rem;
            position: absolute;
            margin-bottom: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateY(100%);
            transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
            opacity: 0;
            cursor: pointer;

            &:hover {
                color: $green;
            }
        }
    }

    &__state {
        background-color: $green;
        color: #fff;
        padding: 0.5rem 1.8rem;
        user-select: none;
        font-weight: 300;
        top: 30px;
        position: absolute;
        right: 0;
    }

    &:hover &__price__add {
        transform: translateY(0);
        opacity: 1;
    }

    &:hover &__price-text {
        transform: translateY(-100%);
        opacity: 0;
    }

    &:hover &__image {
        background-size: 120%;
    }

    @media (max-width: 1199.98px) {
        &__image {
            height: 220px;
        }
    }
}
