.comments{
    padding: 0 5%;
}
.comment{
    width: 815px;
    &__title{
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    &__cancel{
        border: none;
        background-color: inherit;
        color: #98a86d;
        font-size: 25px;
        &:hover{
            color: #000;
        }
    }
    &__bottom{
        padding-left: 12%;
    }
    &__replies{
        display: flex;
        flex-wrap: wrap;
    }
    &__customer{
        display: flex;
        gap: 0 20px;
        align-items: center;

        &-action{
            width: 100%;
        }
        &-avatar{
            width: 82px;
            height: 82px;
            border-radius: 50px;
        }
        &-info{
            position: relative;
        }
        &-name{
            font-size: 20px;
            text-transform: uppercase;
            margin-right: 20px;
            letter-spacing: .6px;
        }
        &-time{
            font-size: 13px;
            letter-spacing: .40px;
            font-weight: 300;
        }
        &-reply{
            position: absolute;
            right: 0;
            cursor: pointer;
            color: #98a86d;
            font-size: 15px;
            &:hover{
                color: #000;
            }
        }
        &-text{
            font-size: 17px;
            font-weight: 300;
            margin-top: 5px;
        }
    }

    //form
    &__form{
        textarea{
            width: 100%;
            padding: 10px;
            border: 1px solid #c9c9c9;
        }
        &-text{
            display: block;
            padding: 10px;
            width: 100%;
            margin: 15px 0;
        }
        &-label{
            margin: 15px 0;
            input{
                margin-right: 5px;
            }
        }
        &-submit{
            display: block;
            padding: 16px 39px;
            background-color: #98a86d;
            color: #fff;
            border: 1px solid #98a86d;
            &:hover{
                background-color: #fff;
                color: #98a86d;
            }
        }
    }
}
@media screen and (max-width: 1024px){
    .comment{
        width: auto;
        &__replies{
            display: block;
        }
        &__customer{
            flex-direction: column;
            align-items: flex-start;

            &-reply{
                right: 10%;
            }
            &-text{
                word-wrap: break-word;
            }
        }
    }
}
@media screen and (max-width: 740px){
    .comment{
        &__replies{
            display: block;
        }
        &__customer{

            &-info {
                position: static;
                display: flex;
                flex-direction: column;
            }
            &-reply {
                position: static;
            }
        }
    }
}